*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat',sans-serif;
}
body{
    display: flex;
   background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1880d061-0a0e-44a5-a9ff-a8ca9843f636/dew8e3q-385cba49-17cf-41b6-b759-30684f0c3d68.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE4ODBkMDYxLTBhMGUtNDRhNS1hOWZmLWE4Y2E5ODQzZjYzNlwvZGV3OGUzcS0zODVjYmE0OS0xN2NmLTQxYjYtYjc1OS0zMDY4NGYwYzNkNjguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DhzRwSnax1kM3K7aoPQRyuxdRV5IYGnE4WfvCL1f7Ww);
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}
.container{
    display: flex;
    width: 800px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: white;
    /* border-radius: 5px; */
    border: 1px solid white ;
    flex-wrap: wrap;
   
}
.container .image{
    background-image:url(https://i.pinimg.com/originals/de/fb/41/defb41d65d9cdcfbd081fe138e9451ea.gif);
    border-right: 1px solid gray ;
    padding: 20px;
    color: white;
    background-size: 100%;
    
}
.container .image p{
    padding: 10px 0px;
    text-align: justify;  
}
.container :where(.image , .form){

    width:50%;
    height: 400px;
    

}
h1{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: underline;
}
.container .form{
    padding: 20px;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/originals/de/fb/41/defb41d65d9cdcfbd081fe138e9451ea.gif);
    color: white;
    
}
.container .form label{
    margin-bottom: 5px;
    display: block;
}
.container .form input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    outline: none;
    padding: 0 5px;
}
.container .form .submit-btn{
    background: blue;
    font-size: 20px;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 20px;

 
}
.container .form .submit-btn:hover{
    background: darkblue;
    color: white;
}
@media screen and (max-width:600px){

    .container{
        width:500px  ;
    }

    .container :where(.image , .form){
        width:100%;
    }  

    .container .image{
        min-height:500px;
    }

}